body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  /* background-color: #1f1f23; */
}

/* key: re = RouteExplorer, po = PurityOverview, m = Metrics */

.re-main {
  display: flex;
}

.re-routes {
  border: 1px solid;
  margin: 5px;
}

.rerv-header {
  font-size: 26px;
  font-weight: 600;
}

.rerv-item {
  margin: 2px;
  border: 1px solid rgb(43, 0, 128);
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}
.rerv-item:hover {
  background-color: red;
}
.rerv-item:active{
  background-color: orange;
}

.re-functions {
  border: 1px solid;
  margin: 5px;
}

.refv-header {
  font-size: 26px;
  font-weight: 600;
}

.refv-item{
  margin: 2px;
  border: 1px solid green;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}
.refv-item:hover {
  background-color: red;
}
.refv-item:active{
  background-color: orange;
}

.re-dependencies {
  border: 1px solid;
  margin: 5px;
}

.redv-header {
  font-size: 26px;
  font-weight: 600;
}

.redv-item{
  margin: 2px;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}
.redv-item:hover {
  background-color: red;
}
.redv-item:active{
  background-color: orange;
}

.po-containers {
  display: flex;
}

.po-container {
  display: flex;
  border: 1px solid;
  margin: 5px;
}

.poc-details {
  border: 1px solid red;
  margin: 2px;
}

.m-main {

}

.m-buttons-container {
  display: flex;
}

.m-information {
  display: flex;
}

.m-button {
  border: 1px solid red;
  margin: 10px;
  border-radius: 5px;
}

.m-graph {
  border: 1px solid blue;
  margin: 10px;
  border-radius: 5px;
}

.m-suggestions {
  border: 1px solid green;
  margin: 10px;
  border-radius: 5px;
}

.ms-item {
  margin: 2px;
}

Link {
  
}
