body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  /* margin: auto; */
  /* max-width: 38rem; */
  padding: 2rem;
  background-color: #3E8A7F;
  
}

.welcome-logo {
  margin-top: 70px;
  width: 400px;
}

.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-logo {
  /* display: flex; */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 240px;
  height: 240px;
  margin:-110px 0 0 -110px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

/* key: re = RouteExplorer, po = PurityOverview, m = Metrics */

.re-main {
  display: flex;
}
/* 
.re-routes {
  border: 1px solid;
  margin: 5px;
} */

.rerv-header {
  font-size: 26px;
  font-weight: 600;
}

.rerv-item {
  margin: 2px;
  border: 1px solid rgb(43, 0, 128);
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}
.rerv-item:hover {
  background-color: red;
}
.rerv-item:active {
  background-color: orange;
}
/* 
.re-functions {
  border: 1px solid;
  margin: 5px;
} */

.refv-header {
  font-size: 26px;
  font-weight: 600;
}

.refv-item{
  text-align: left;
  margin: 2px;
  border: 1px solid green;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}
.refv-item:hover {
  background-color: red;
}
.refv-item:active {
  background-color: orange;
}

.re-dependencies {
  border: 1px solid;
  margin: 5px;
}

.redv-header {
  font-size: 26px;
  font-weight: 600;
}

.redv-item {
  margin: 2px;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}
.redv-item:hover {
  background-color: red;
}
.redv-item:active {
  background-color: orange;
}

.po-containers {
  display: flex;
  margin-top: 30px;
}

.po-container {
  display: flex;
  border: 1px solid;
  margin: 5px;
  padding: 25px 5px 0 5px;
}

.routes-container {
  display: flex;
  justify-content: center;
  gap : 15px;
  overflow-x: auto
  /* background-color: rgba(0, 226, 102, 0.86); */
}

.poc-details {
  margin: 15px;
  background-color: rgba(136, 255, 201, 0.86);
  border-radius: 4px;
}

.pocd-route {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
}

.pocd-methods {
  display: flex;
  /* border: 1px solid blue; */
  margin: 2px;
}

.pocd-method-container {
  margin: 10px;
}

.pocd-method {
  display: flex;
  justify-content: center;
  /* border: 1px solid rgb(255, 0, 208); */
  margin: 2px;
  font-weight: 700;
}

.pocd-functions {
  border: 1px solid orange;
  margin: 5px;
}

.pocd-function {
  margin: 5px;
  font-weight: 600;
}

.m-main {
}

.m-buttons-container {
  display: flex;
}

.m-information {
  display: flex;
}

.m-button {
  border: 1px solid red;
  margin: 10px;
  border-radius: 5px;
}

.m-graph {
  border: 1px solid blue;
  margin: 10px;
  border-radius: 5px;
}

.m-suggestions {
  border: 1px solid green;
  margin: 10px;
  border-radius: 5px;
}

.ms-item {
  margin: 2px;
}

Link {
}

/* Welcome Page styling */
/* With love,
 justin */

.welcomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 20px; */
}

.wp-header {
  font-weight: bold;
  margin-bottom: 20px;
}

.wp-instructions {
  text-align: center;
  margin-bottom: 20px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  gap: 5px;
}
.fileDrop-wrapper {
  border: dotted black 2px;
  width: 30vw;
  height: 50px;
}
.serverName-wrapper {
}

/* ********************** */

/* CSS */
.serverSubmit {
  background-color: #df981e;
  border-radius: 100px;
  box-shadow: rgba(206, 141, 72, 0.2) 0 -25px 18px -14px inset,
    rgba(208, 119, 11, 0.15) 0 1px 2px, rgba(208, 119, 11, 0.15) 0 2px 4px,
    rgba(208, 119, 11, 0.15) 0 4px 8px, rgba(208, 119, 11, 0.15) 0 8px 16px,
    rgba(208, 119, 11, 0.15) 0 16px 32px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}

.serverSubmit:hover {
  box-shadow: rgba(230, 169, 0, 0.35) 0 -25px 18px -14px inset,
    rgba(230, 169, 0, 0.25) 0 1px 2px, rgba(230, 169, 0, 0.25) 0 2px 4px,
    rgba(230, 169, 0, 0.25) 0 4px 8px, rgba(230, 169, 0, 0.25) 0 8px 16px,
    rgba(230, 169, 0, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
